.page-content {
  display: grid;
  height: 100vh;
}

.slide-text-bottom-word {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;

  padding-top: 1.8rem;
  margin-top: -1.8rem;

  .slide-text-bottom-letter {
    transform: translate3d(0, 130%, 0);
  }
}
