@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-0.5%);
  }

  100% {
    transform: translateY(0%);
  }

}

@keyframes fadeInUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}