@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0%);
  }

}
